body {
    background-color: #131316;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: large;
  }
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
  .container {
    display: flex;
    flex-direction: column;
    flex: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    width: 250px;
    height: 140px;
    color: black;
    border-radius: 5px;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    font-size: 18px;
  }
  .btn {
    width: 50px;
    height: 30px;
  }